/* Root styles */
html {
  font-size: 62.5%;
}

:root {
  --odin-green: #596d48;
  --odin-gray: #f7f7f7;
  --odin-dark-gray: #8d8d8d;
  --input-default: #e5e7eb;
  --input-invalid: red;
  --input-focus: blue;
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(12, 1fr);
  font-size: 1.6rem;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background-image: url("/img/bg-img.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1/-1;

  span {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);

    font-size: 6.5rem;
    font-family: "Norse Bold", sans-serif;
    text-transform: uppercase;
    color: #fff;

    & img {
      width: 10rem;
      height: auto;
    }
  }
}

main {
  grid-column: 1/-1;

  font-family: "Inter", sans-serif;

  section {
    & p {
      font-weight: 700;
    }

    h1 {
      font-size: 1.8rem;
      padding: 2.5rem;
      padding-bottom: 0;
    }
  }

  .top_section {
    padding: 2.5rem;
    background-color: var(--odin-gray);
  }

  form {
    fieldset {
      display: flex;
      flex-direction: column;
      padding: 2.5rem;
      gap: 1.5rem;
      border: none;

      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);

      div.form__control {
        display: grid;
        gap: 0.5rem;

        label {
          font-size: 1.2rem;
          font-weight: 600;
          text-transform: uppercase;
          color: var(--odin-dark-gray);
        }

        input {
          border: 0.1rem solid var(--input-default);
          padding: 0.8rem;
          border-radius: 0.5rem;

          font-size: 1.4rem;
        }

        /* 
        & input:invalid {
          border: 0.2rem solid var(--input-invalid);
        }

        & input:focus-visible {
          border: 0.2rem solid var(--input-focus);
        } */
      }
    }

    div.button__control {
      margin-top: 1.5rem;
      padding: 2.5rem;

      button {
        width: 24rem;
        border: none;
        padding: 1.5rem;
        border-radius: 0.8rem;
        background-color: var(--odin-green);
        cursor: pointer;
        transition: all ease-in-out 0.4s;

        color: #fff;
      }

      button:hover {
        transform: scale(1.05);
      }

      button:active {
        transform: scale(0.95);
      }

      a {
        color: var(--odin-green);
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
