/* Root styles */
html {
  font-size: 62.5%;
}

:root {
  --primary-blue: #0ea5e9;
  --primary-yellow: #eab308;
  --primary-yellow-dark: #d97706;
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  width: 100vw;
  min-height: 100dvh;
  font-family: "Raleway", sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  border-bottom: 0.25rem solid #000;

  font-size: 1.25rem;
}

header a {
  display: flex;
}

header div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.char--summary {
  width: 10rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-weight: 700;
}

p .img__avatar {
  font-weight: 700;
}

.img__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.25rem;
  width: 4.25rem;
  background-color: var(--primary-blue);
  padding: 1.2rem;
  border-radius: 50%;

  font-size: 1.5rem;
  color: #fff;
}

h1.char--summary {
  width: 18rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.8rem;
  font-weight: 700;
}

.header-actions + div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.all-project-actions button {
  background-color: var(--primary-blue);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border-color: none;

  font-size: 2rem;
}

main {
  padding: 2rem;
  background-color: #f0f0f0;
  display: grid;
  gap: 2.5rem;
}

section > div {
  display: grid;
  gap: 2rem;
}

.project-card {
  background-color: #fff;
  border-left: 0.5rem solid var(--primary-yellow);
  border-radius: 0.8rem;
  padding: 3rem 1.5rem;
  font-size: 1.6rem;
}

h3 {
  font-size: 1.8rem;
}

h2 {
  font-size: 2rem;
}

#announcements div {
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

article,
article h3 {
  font-size: 1.6rem;
}

article {
  border-bottom: 0.1rem solid #c5c5c5;
}

article:last-child {
  border-bottom: none;
}

.trending-chars {
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 2.5rem 1.2rem;
}

.trending-chars .char--summary {
  width: 100%;
  display: grid;
  grid-template-areas:
    "avatar userId"
    "avatar projectName";
  place-items: end;

  font-size: 1.6rem;
  font-weight: 500;
}

.trending-chars .char--summary .img__avatar {
  grid-area: avatar;
}

.trending-chars .char--summary .userId {
  grid-area: userId;
  place-self: start;
  align-self: end;

  font-weight: 600;
}

.trending-chars .char--summary .projectName {
  grid-area: projectName;
  place-self: start;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
